# CMake / build
/build/
/CMakeFiles/
/CMakeCache.txt
Makefile
cmake_install.cmake

# Binaries / object files
*.o
*.obj
*.so
*.a
*.exe

# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc

# Git LFS attributes (if used)
.gitattributes
